/* Backbone CSS for Resume Template 1 */

/* Basic */

#vue-smart-pages-preview {
  background-color: white;
  color: black;
  text-align: left;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

#vue-smart-pages-preview p,
#vue-smart-pages-preview li,
#vue-smart-pages-preview dl {
  margin: 0;
}

/* Headings */

#vue-smart-pages-preview h1,
#vue-smart-pages-preview h2,
#vue-smart-pages-preview h3 {
  font-weight: 1;
}

#vue-smart-pages-preview h1 {
  font-size: 1.8em;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 0.25em;
}

#vue-smart-pages-preview h2,
#vue-smart-pages-preview h3 {
  margin-bottom: 0.25em;
  margin-top: 1.0em;
  font-size: 1.2em;
}

#vue-smart-pages-preview h1,
#vue-smart-pages-preview h2 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: darkgrey;
}

/* Lists */

#vue-smart-pages-preview ul,
#vue-smart-pages-preview ol {
  padding-left: 1.0em;
  margin: 0.2em 0 1.0em 0;
}

#vue-smart-pages-preview ul {
  list-style-type: disc;
}

#vue-smart-pages-preview ol {
  list-style-type: decimal;
}

/* Definition Lists */

#vue-smart-pages-preview dl {
  display: flex;
}

#vue-smart-pages-preview dl dt,
#vue-smart-pages-preview dl dd:not(:last-child) {
  flex: 1;
}

/* Tex */

#vue-smart-pages-preview :not(span.katex-display) > span.katex {
  font-size: 1em !important;
}

/* SVG & Images */

#vue-smart-pages-preview svg.iconify {
  vertical-align: -0.2em;
}

#vue-smart-pages-preview img {
  max-width: 100%;
}

/* Header */

#vue-smart-pages-preview .resume-header {
  text-align: center;
}

#vue-smart-pages-preview .resume-header h1 {
  text-align: center;
  line-height: 1;
  margin-bottom: 8px;
}

#vue-smart-pages-preview .resume-header-item:not(.no-separator)::after {
  content: " | ";
}

/* Citations */


#vue-smart-pages-preview ul.crossref-list {
  padding-left: 0.2em;
}

#vue-smart-pages-preview li.crossref-item p {
  margin-left: .5em;
  line-height: 1.0;
}



#vue-smart-pages-preview li.ulcrossref-item::marker {
  content: attr(data-caption);
}

#vue-smart-pages-preview sup.crossref-ref {
  font-size: 100%;
  top: 0;
}

/* Table */

table td:first-child {
  padding-right: 20px;
}

/* Dark & print mode */

.dark #vue-smart-pages-preview {
  background-color: #334155;
  color: #e5e7eb;
}

@media print {
  #vue-smart-pages-preview {
    background-color: white !important;
    color: black !important;
    page-break-inside: avoid;
  }

  .dark #vue-smart-pages-preview a {
    color: black !important;
  }
}



.optional-section {
    display: none;
}

.optional-section.active {
    display: block;
}
